<div id="slot">

  <p>
    <strong>Description:</strong>
    <%= slot.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= l slot.start_time.in_time_zone(Time.zone), format: :datetime %>
  </p>
</div>
