<div id="<%= dom_id slot %>">
  <p>
    <strong>Name:</strong>
    <%= slot.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= slot.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= l slot.start_time, format: :datetime %>
  </p>
</div>
