<h1>Editing slot</h1>

<%= render "form", calendar: @slot.calendar, slot: @slot %>

<br>

<div>
  <%= link_to "Show this slot", calendar_slot_path(@slot) %> |
  <%= link_to "Back to calendar", calendar_path(@slot.calendar) %>
</div>
