<h1>Editing calendar assignation</h1>

<%= render "form", calendar_assignation: @calendar_assignation %>

<br>

<div>
  <%= link_to "Show this calendar assignation", @calendar_assignation %> |
  <%= link_to "Back to calendar assignations", calendar_assignations_path %>
</div>
