<h1>Timeslots</h1>
<b>helps you fill your calendar</p>
<h2>Why</h2>
<p>Timeslots helps when you are in high demand. Lots of people want your time,
and your time is limited.</p>
<p>A first-arrived-first-served approach solves your problem, but is
inconvenient to your users. What if the first arrived don't care that much
and accidentally take the best slots. The ones coming last might not be
available in the remaining slots.</p>
<p>You might have high demand, but at the end of the week, there are still holes
in your calendar.</p>
<p>Timeslots lets your user express their availabilities and the computer takes
care of assigning the slots in the most community-efficient way.</p>
<h2>How</h2>
