<h1>Calendars</h1>

<ul id="calendars">
  <% @calendars.each do |calendar| %>
    <li>
      <%= link_to calendar.name, calendar %>
    </li>
  <% end %>
</ul>

<% if Current.user %>
  <%= link_to "New calendar", new_calendar_path %>
<% end %>
